@import "bourbon"
@import "vars.sass"

body
	font-size: 14px
	font-family: "OpenSansRegular", sans-serif
	min-width: 320px
	position: relative
	line-height: 24px 
	overflow-x: hidden

	background-color: $main-color
	color: white;

.hidden
	display: none


/* --- My styles --- */

h1, h2, h3, h4, h5, h6
	font-family: "OpenSansLight", sans-serif
	font-weight: normal
	margin: 0

h1
	font-size: em(70px)
	line-height: 90px

h2
	font-size: em(40px)
	line-height: 90px

h3
	font-size: em(30px)
	line-height: 54px

h4
	font-size: em(20px)
	line-height: 30px

.header
	&__top
		position: relative
		padding-top: 60px
		background: $main-color url("../img/top-block__bg.jpg") no-repeat
		background-position: center center 

		&::before
			content: ""
			position: absolute
			top: 0
			bottom: 0
			width: 100%
			height: 100%
			background: linear-gradient(90deg + 39deg, transparent 30%, $main-color 60%)
			// background-color: red

	&__action
		margin-top: 15px
		text-align: right

		&>*
			display: inline-block
			margin-right: 10px

		.search
			position: relative

			input
				background-color: lighten($main-color, 10%)
				font-family: OpenSansRegular, sans-serif

			.fa
				position: absolute
				top: 15px 
				right: 20px
				opacity: .3


	&__buy.btn
		background-color: $accent-color
		font-family: OpenSansSemibold, sans-serif

		&:hover
			background-color: lighten($accent-color, 10%)

		&:active
			background-color: $accent-color


	.menu-link
		color: white
		font-size: 20px
		transition-duration: .1s

		&:hover, &:focus
			text-decoration: none

		&:hover
			transform: scale(1.5)

	&__site-title
		padding-top: 250px
		padding-bottom: 230px

		h1
			margin-bottom: 20px



.slider
	background-color: $accent-color
	padding-top: 100px
	padding-bottom: 200px

	&__item
		position: relative

	&__img
		position: absolute
		top: -190px

	&__text
		p
			margin-bottom: 30px
		.btn
			padding: 10px 40px



.features
	position: relative
	z-index: 1
	padding: 80px 0
	color: black
	background-color: #f4f8fb

	&__item

		h3
			margin-bottom: 30px
		
		h4
			margin-bottom: 30px

		p
			margin-bottom: 30px

	&::after
		position: absolute
		bottom: -69px
		content: ""
		width: 100%
		height: 100px
		background: url("../img/features__bottom.png") no-repeat
		background-position: center 0



.main-content
	&__title
		padding-top: 100px
		text-align: center

		p
			font-size: 16px
			opacity: .3
			padding-bottom: 90px

	&__slider
		position: relative
		height: 285px

		&-btn
			position: absolute
			top: 80px 
			left: 50%
			margin-left: -115px
			display: inline-block
			padding: 15px 40px
			border: 3px solid white
			font-size: 25px
			text-transform: uppercase
			color: white
			&:hover, &:focus
				text-decoration: none
				color: white

		&-item
			position: absolute
			width: 100%
			visibility: hidden
			height: 240px
			overflow: hidden

			img
				position: absolute
				top: -380px
				left: -72px

		&-controls
			background-color: lighten($main-color, 10%)
			border-radius: 5px 5px 0 0

			label
				display: inline-block
				vertical-align: middle
				width: 10px
				height: 10px
				background-color: white
				border-radius: 50%
				margin: 10px
				&:hover
					cursor: pointer
				opacity: .3

		input
			display: none

		input:nth-child(1):checked ~ &-controls label[for="slider1"],
		input:nth-child(2):checked ~ &-controls label[for="slider2"],
		input:nth-child(3):checked ~ &-controls label[for="slider3"]
			opacity: 1

		#slider1:checked ~ .main-content__slider-item--1,
		#slider2:checked ~ .main-content__slider-item--2,
		#slider3:checked ~ .main-content__slider-item--3
			visibility: visible !important


			input
				display: none