@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/font-awesome/scss/font-awesome.scss"
@import "app/libs/jQuery.mmenu/dist/css/jquery.mmenu.all"
@import "app/libs/jQuery.mmenu/dist/extensions/positioning/jquery.mmenu.positioning"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

* 
	transition-duration: .1s

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here

.btn
	position: relative
	padding: 10px 20px
	background-color: $accent-color-2
	border: none
	border-radius: 2rem
	color: white
	&:focus
		outline: none
		text-decoration: none
		color: white
	&:hover
		text-decoration: none
		color: white
		background-color: lighten($accent-color-2, 10%)
	&:active 
		background-color: $accent-color-2

.clearfix::after
	content: ""
	display: table
	clear: both

	
//ALWAYS END
@import "media"
